@import '~bootstrap/scss/bootstrap';
@import '../../../styles/variables';

@include media-breakpoint-up(sm) {
  .my-col {
    height: 100%;
  }
}

.my-col-1 {
  background-color: $color2;
}

@include media-breakpoint-between(xs, sm) {
  .my-col-1 {
    height: 50px;
    border-bottom: 1px solid $color3;
  }
}

@include media-breakpoint-up(sm) {
  .my-col-1 {
    height: 100%;
    border-right: 1px solid $color3;
  }
}

.my-col-2 {
  background-color: $color1;
}

.message-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 70px;
  padding: 15px;
  background-color: $color2;

  input[type=text] {
    border: 0 none;
    width: 100%;
    height: 100%;
    outline: 0 none;
    padding: 6px 12px;
    font-size: 17px;
  }
}

.user-list {
  list-style-type: none;
  left: -15px;
  right: -15px;
  margin: 0;
  margin-top: 15px;
  padding: 0;

  li {
    height: 25px;
    border-bottom: 1px solid $color3;
    width: 100%;
  }
}