@import '~bootstrap/scss/bootstrap';
@import '../../../styles/variables';

.my-col {
  position: absolute;
  top: 0;
  bottom: 0;
}

.my-col-1 {
  background-color: $color2;
  left: 0;
  right: calc(100% - 250px);
}

.my-col-2 {
  background-color: $color6;
  left: 250px;
  right: 0;
}
