@import '../../../styles/variables';

.messages {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 70px;
  overflow-y: scroll;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
